<div class="column">
    {% for image in images %}
        <div class="item uk-text-center">
            <a href="#modal{{ image.id }}" data-uk-modal><img class="img" data-uk-scrollspy="{cls:'uk-animation-fade', delay:300, repeat: true}" src={{ image.path|raw }}>{{ image.name }}</a>
        </div>
        <div id="modal{{ image.id }}" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                {{ image.name|capitalize }}<br>
                {{ image.description }}<br>
                {{ image.medium|capitalize }}<br>
                {{ image.height }} x
                {{ image.width }} inches
            </div>
        </div>
    {% endfor %}
</div>