<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official website for the visual artist, Dave Gearty, a sligo based artist.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="LaLOM8iSjGdwZbZhOoppL9Ds_ZLGcWDHKMNlVJnc1Vk" />

    <title>{% block title %}Dave Gearty | Artist{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('/css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('/js/uikit.min.js') }}"></script>
    <script src="{{ asset('js/stretchy.js') }}" async></script>
</head>
<body class="site">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="site-content">
        <div class="main-heading uk-flex uk-flex-center">
            <a href="/" class="uk-navbar-brand"><span>Dave</span> Ge<span class="art">art</span>y</a>
        </div>
        <div class="uk-flex uk-flex-center">
            <p class="uk-text-muted">Visual Artist</p>
        </div>

        {% block nav %}
        {% endblock %}

        {# content block #}
        {% block content %}
        {% endblock %}
    </main>
    {# the footer #}
    <footer>

        <div class="uk-text-center">
            <i class="uk-icon-cog"></i>
            <i class="uk-icon-flash"></i>
            <p>&copy;2016 www.davegeartyart.info</p>
        </div>
    </footer>
    {# javascript functions #}
    {% block javascript %}
    {% endblock %}
</body>
</html>