<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Dave Gearty | Artist{% endblock %}
    </title>
    {#<style>#}
        {#{% block style %}#}
            {#@import '{{ asset('/css/uikit.min.css') }}';#}
            {#@import '{{ asset('/css/main.css') }}';#}
            {#@import '{{ asset('/css/components/sticky.min.css') }}';#}
            {#@import '{{ asset('/css/components/slideshow.min.css') }}';#}
            {#@import '{{ asset('/css/components/dotnav.min.css') }}';#}
            {#@import '{{ asset('/css/components/slidenav.min.css') }}';#}
        {#{% endblock %}#}
    {#/*</style>*/#}

    <link rel="stylesheet" href="{{ asset('/css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/components/sticky.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/components/slideshow.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/components/dotnav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/components/slidenav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('/js/uikit.min.js') }}"></script>
    <script src="{{ asset('js/components/sticky.min.js') }}"></script>
    <script src="{{ asset('js/components/slideshow.min.js') }}"></script>
    <script src="{{ asset('js/components/slideshow-fx.js') }}"></script>
</head>
<body>

{# the navbar #}
<div class="heading uk-flex uk-flex-center">
    <a href="/" class="uk-navbar-brand">Dave Gearty</a>

</div>
<div class="uk-flex uk-flex-center">
    <p class="uk-text-small uk-text-muted">Artist</p>
</div>
<nav>

    <div class="uk-container">
        <a href="#my-id" class="uk-navbar-toggle uk-visible-small uk-flex uk-flex-center" data-uk-offcanvas></a>
    <ul class="uk-container navbar uk-hidden-small">
        <li class="uk-active"><a href="/">Home</a></li>
        <li><a href="/art">Art</a></li>
        <li><a href="#">Exhibitions</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact</a></li>

    </ul>

    </div>
</nav>
<hr>
<div id="my-id" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a href="/">Home</a></li>
            <li><a href="/art">Art</a></li>
            <li><a href="#">Exhibitions</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>


    {#<div class="section section-left">#}
        {#<article class="uk-article">#}

            {#<p class="uk-article-meta">Sligo based modern artist</p>#}
            {#<p class="uk-article-meta">Regular exhibitor in galleries</p>#}

            {#<p class="uk-article-meta">Contemporary subject matter</p>#}
            {#<blockquote>#}
                {#<p>One of the most important tools for an artist is their paintbrush</p>#}
                {#<small>Da Vinci</small>#}
            {#</blockquote>#}
        {#</article>#}

    {#</div>#}

        {% block content %}
        {% endblock %}

{# the footer #}
<footer>
    <i class="uk-icon-cog"></i>
    <i class="uk-icon-flash"></i>
    <p>&copy;2016 Dg.com</p>
</footer>
{# javascript functions #}
{% block javascript %}
{% endblock %}
</body>
</html>