{% extends 'base.html.twig' %}
{% set active_page = 'contact' %}
{% if form is defined %}
    {% form_theme form 'partials/form.html.twig' %}
{% endif %}

{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="uk-margin uk-width-1-1 uk-text-center">
        <h1 class="uk-h2 uk-text-bold">{{ 'contact'|upper }}</h1>
    </div>
{% if sent == true %}
    <p>Thanks for getting in touch! I'll get back to you as soon as i can.</p>
    {% else %}
        <p>Fill in your details and your message and ill get back to you as soon as possible.</p>

    <div class="uk-flex uk-flex-center">
        <form class="uk-form" action="/contact" method="post">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-control">
             {{ form_label(form.name, 'Your Name:') }}<br>
                <div class="uk-form-row">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-control">
            {{ form_label(form.email, 'Your Email:') }}<br>
                <div class="form-input">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="form-control">
            {{ form_label(form.message, 'Your Message:') }}<br>
                <div class="form-textarea">
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
                 </div>
            </div>

            <div class="form-control">
                <input type="submit" name="submit"/>
            </div>
        {{ form_end(form) }}
        </form>
    </div>
{% endif %}
{% endblock %}