{% extends 'base.html.twig' %}
{% set active_page = 'contact' %}
{% set heading = 'contact' %}
{#{% if form is defined %}#}
    {#{% form_theme form 'partials/form.html.twig' %}#}
{#{% endif %}#}

{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'partials/heading.html.twig' %}
    {% if sent == true %}
        <p class="uk-medium-width-1-2 uk-text-center">Thanks for getting in touch! I'll get back to you as soon as i can.</p>
    {% else %}
        <p class="uk-medium-width-1-2 uk-text-center">Fill in your details and your message and ill get back to you as soon as possible.</p>

    <div class="form">
        <form class="uk-form uk-form-horizontal" action="/contact" method="post">

            {#{{ form_start(form) }}#}
            {{ form_errors(form) }}

            <div class="uk-form-row">
             {{ form_label(form.name, 'Name:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                <div class="uk-form-controls">
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="uk-form-row">
            {{ form_label(form.email, 'Email:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                <div class="uk-form-controls">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="uk-form-row">
            {{ form_label(form.message, 'Message:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                <div class="uk-form-controls">
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
                 </div>
            </div>

            <div class="form-control">
                <input type="submit" name="submit"/>
            </div>

        {#{{ form_end(form) }}#}

        </form>
    </div>
{% endif %}
{% endblock %}
