{% extends 'base.html.twig' %}

{% block content %}
<div class="uk-block-muted uk-block-large">
    <p class="uk-text-center">Welcome, {{ app.user.username }}</p>
    <ul class="uk-flex-center uk-subnav">
        <li><a class="uk-button uk-button-success" href="{{ path('admin_logout') }}"><i class="uk-icon-home"></i> Logout</a></li>
        <li><a class="uk-button uk-button-primary" href="/admin/create-exhibition"><i class="uk-icon-cogs"></i> Create a new entry</a></li>
    </ul>

    <table class="uk-table uk-table-condensed">
        <caption>Exhibition List</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Type</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        {% for ex in exhibitions %}
        <tr>
            <td class="uk-width-2-10">{{ ex.name }}</td>
            <td>{{ ex.year }}</td>
            <td>{{ ex.type }}</td>
            <td>{{ ex.location }}</td>
            <td><a class="uk-button uk-button-danger" href="/admin/delete/{{ ex.id }}"><i class="uk-icon-close"></i> delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
